{% extends 'base.html.twig' %}

{% block title %}Détails des horaires d'ouverture{% endblock %}

{% block body %}
    <h1 class="mb-4">Horaire du {{ horaire.jour }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horaire.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ horaire.jour }}</td>
            </tr>
            <tr>
                <th>Heure d'ouverture</th>
                <td>{{ horaire.heureOuverture }}</td>
            </tr>
            <tr>
                <th>Heure de fermeture</th>
                <td>{{ horaire.heureFermeture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>

    <a href="{{ path('app_horaire_edit', {'id': horaire.id}) }}">Modifier</a>

    {{ include('horaire/_delete_form.html.twig') }}
{% endblock %}
