{% extends 'base.html.twig' %}

{% block title %}Détails de la commande{% endblock %}

{% block body %}
    <h1 class="mb-4">Récapitulatif Commande n°{{ commande.numeroCommande }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Numéro de commande</th>
                <td>{{ commande.numeroCommande }}</td>
            </tr>
            <tr>
                <th>Date de la commande</th>
                <td>{{ commande.dateCommande }}</td>
            </tr>
            <tr>
                <th>Date de la prestation</th>
                <td>{{ commande.datePrestation }}</td>
            </tr>
            <tr>
                <th>Heure de livraison</th>
                <td>{{ commande.heureLivraison }}</td>
            </tr>
            <tr>
                <th>Prix menu</th>
                <td>{{ commande.prixMenu }}</td>
            </tr>
            <tr>
                <th>Frais de Livraison</th>
                <td>{{ commande.prixLivraison }}</td>
            </tr>
            <tr>
                <th>Nombre de personne</th>
                <td>{{ commande.nombrePersonne }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ commande.statut }}</td>
            </tr>
            <tr>
                <th>Prêt de matériel</th>
                <td>{{ commande.pretMateriel ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Restitution de matériel</th>
                <td>{{ commande.restitutionMateriel ? 'Effectuée' : 'En attente' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">Retour à la liste</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">Modifier</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
