{% extends 'base.html.twig' %}

{% block title %}Rôle index{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Gestion des rôles</h1>
        <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.libelle }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{{ path('app_role_show', {'id': role.id}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                        <a href="{{ path('app_role_edit', {'id': role.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_role_new') }}" class="btn btn-sm btn-secondary">Ajouter un rôle</a>

{% endblock %}
