{% extends 'base.html.twig' %}

{% block title %}Détails du rôle{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails du rôle : {{ role.libelle }}</h1>
        <a href="{{ path('app_role_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.libelle }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{{ path('app_role_edit', {'id': role.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                        {{ include('role/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
