{% extends 'base.html.twig' %}

{% block title %}Détails du thème{% endblock %}

{% block body %}
   <h1>Thème : {{ theme.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Nom du thème</th>
                <td>{{ theme.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_theme_index') }}">Retour à la liste</a>

    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}">Modifier</a>

    {{ include('theme/_delete_form.html.twig') }}
{% endblock %}
