{% extends 'base.html.twig' %}

{% block title %}Détails Menu (Admin){% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails du Menu : {{ menu.titre }}</h1>
        <a href="{{ path('app_menu_admin_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>{{ menu.id }}</td>
                <td><strong>{{ menu.titre }}</strong></td>
                <td>{{ menu.prixParPersonne }} €</td>
                <td>{{ menu.description }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{{ path('app_menu_edit', {'id': menu.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                        {{ include('menu/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}