{% extends 'base.html.twig' %}

{% block title %}Menu- {{ menu.titre }}{% endblock %}

{% block body %}
    

    <div class="container py-5">
        <a href="{{ path('app_menu_index') }}" class="btn btn-link text-dark mb-4"> Retour</a>

        <div class="row g-5">
            <div class="col-md-6">
                <div class="border border-dark p-1">
                <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1000" class="img-fluid" alt="{{ menu.titre }}">
                </div>
            </div>

            <div class="col-md-6">
                <h1 class="display-4 fw-bold text-uppercase">{{ menu.titre }}</h1>
                <p class="text-muted fs-5">{{ menu.description }}</p>

                <div class="my-4">
                    <span class="h1 fw-bold">{{ menu.prixParPersonne }} € / pers </span>
                    <p class="text-danger fw-bold mt-2">Plus que {{ menu.quantiteRestante }} commande(s) disponible(s) .</p>
                </div>
            </div>

            <button class="btn btn-dark btn-lg w-100 rounded-pill py-3 fw-bold text-uppercase mb-5">Commander</button>

            <div class="border-top border-dark pt-4">
                <h2 class="fw-bold text-uppercase mb-4">Contenu du Menu</h2>
                <div class="row">
                    <div class="col-md-4">
                        <small class="text-muted fw-bold text-uppercase">Entrée</small>
                        {% if menu.entree %}
                            <h3 class="fw-bold">{{ menu.entree.nom }}</h3>
                            <p class="small text-muted">Allergènes :  {% for allergene in menu.entree.allergenes %}
                                                                        {{ allergene.nom }}{% if not loop.last %}, {% endif %}
                                                                      {% endfor %}</p>
                        {% else %}
                            <p class="text-muted italic">Aucune entrée sélectionnée</p>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <small class="text-muted fw-bold text-uppercase">Plat Principal</small>
                        {% if menu.platPrincipal %}
                            <h3 class="fw-bold">{{ menu.platPrincipal.nom }}</h3>
                            <p class="small text-muted">Allergènes :  {% for allergene in menu.entree.allergenes %}
                                                                        {{ allergene.nom }}{% if not loop.last %}, {% endif %}
                                                                      {% endfor %}</p>
                        {% else %}
                            <p class="text-muted italic">Aucun plat sélectionné</p>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        <small class="text-muted fw-bold text-uppercase">Dessert</small>
                        {% if menu.dessert %}
                            <h3 class="fw-bold">{{ menu.dessert.nom }}</h3>
                            <p class="small text-muted">Allergènes :  {% for allergene in menu.entree.allergenes %}
                                                                        {{ allergene.nom }}{% if not loop.last %}, {% endif %}
                                                                      {% endfor %}</p>
                        {% else %}
                            <p class="text-muted italic">Aucun dessert sélectionné</p>
                        {% endif %}
                    </div>
                </div>  
                </div> 
                <div class="mt-5">
                    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}" class="btn btn-outline-secondary btn-sm">Modifier le menu</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
